.header__lang-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:last-of-type {
  margin-left: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }

}
