.cover__link {
  display: block;
  color: inherit;
  position: relative;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity .5s ease-in-out;
}

.cover__link:hover::before {
  opacity: .8;
  transition: opacity .5s ease-in-out;
}
