.photo-grid {
  max-width: calc(100% - 48px*2);
  margin: 0 auto;
  padding-top: 92px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding-top: 88px;
    max-width: calc(100% - 24px*2);
    gap: 16px;
  }
}

@media screen and (max-width: 350px) {
  .photo-grid {
    padding-top: 64px;
    max-width: calc(100% - 16px*2);
    gap: 12px;
  }
}
