.intro__text {
  max-width: 690px;
  margin-top: 40px;
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: calc(100% - 24px*2);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: calc(100% - 16px*2);
    margin-bottom: 34px;
  }
}
