.footer {
  max-width: calc(100% - 48px*2);
  display: flex;
  margin: 0 auto;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 699px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    max-width: calc(100% - 16px*2);
  }

}
