.places-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places-list {
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places-list {
    gap: 50px;
  }
}
